* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
    --bg-primary: #f4f4f7;
    --color-1: #ebecf3;
    --color-2: #dadce8;
    --color-3: #9ca5cd;
    --color-4: #6f7aa7;
    --color-5: #7080c3;
    --font-primary: #070708;
}

body {
    font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
    background-color: var(--bg-primary);
    color: var(--font-primary);
}

h1,
h2,
h3,
nav,
.login--container {
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--font-primary);
}

.top--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
}

.website-title {
    flex: 3;
    text-align: center;
}

.login--container {
    display: flex;
    gap: 1rem;
    flex: 2;
    justify-content: flex-end;
}

.logo--container {
    flex: 2;
}

.nav--container {
    background-color: var(--color-2);
    padding: 1rem 0;
}

.nav--alignment {
    width: 80%;
    max-width: 45rem;
    justify-self: center;
    justify-items: space-between;
}

.nav--list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.main--container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.main--spacing {
    width: 80%;
    max-width: 45rem;
}

.home--container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-news--spacing {
    display: flex;
    justify-content: center;
    width: 100%;
}

.top-news--container {
    background-color: var(--color-2);
    padding: 3rem;
    border-radius: 1.5rem;
}

.top-news--card {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.top-news--title {
    width: 35%;
}

.top-news--details {
    width: 60%;
}

.news--card {
    margin: 3rem 0;
}

.news-category--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.news-category--card {
    margin: 1rem 0;
    padding: 4rem 0;
}

.news-amount--container {
    display: flex;
    gap: 1rem;
}

.page-number--container {
    display: flex;
    justify-self: center;
    gap: 1rem;
}

.page-number--next-prev,
.page-number--number {
    text-align: center;
}

.category--container {
    display: flex;
    gap: 1rem;
}
